{% import './profiler/macros.html.twig' as macros %}

{% if 'unknown' == symfonyState %}
    {% set block_status = '' %}
    {% set symfony_version_status = 'Unable to retrieve information about the Symfony version.' %}
{% elseif 'eol' == symfonyState %}
    {% set block_status = 'red' %}
    {% set symfony_version_status = 'This Symfony version will no longer receive security fixes.' %}
{% elseif 'eom' == symfonyState %}
    {% set block_status = 'yellow' %}
    {% set symfony_version_status = 'This Symfony version will only receive security fixes.' %}
{% elseif 'dev' == symfonyState %}
    {% set block_status = 'yellow' %}
    {% set symfony_version_status = 'This Symfony version is still in the development phase.' %}
{% else %}
    {% set block_status = '' %}
    {% set symfony_version_status = '' %}
{% endif %}

<div class="sf-toolbar-info-group">
    <div class="sf-toolbar-info-piece">
        <b>Profiler token</b>
        <span>{{ token }}</span>
    </div>

    {% if 'n/a' is not same as(env) %}
        <div class="sf-toolbar-info-piece">
            <b>Environment</b>
            <span>{{ env }}</span>
        </div>
    {% endif %}

    {% if 'n/a' is not same as(debug) %}
        <div class="sf-toolbar-info-piece">
            <b>Debug</b>
            <span class="sf-toolbar-status sf-toolbar-status-{{ debug ? 'green' : 'red' }}">{{ debug ? 'enabled' : 'disabled' }}</span>
        </div>
    {% endif %}
</div>

<div class="sf-toolbar-info-group">
    <div class="sf-toolbar-info-piece sf-toolbar-info-php">
        <b>PHP version</b>
        <span{% if phpversionextra %} title="{{ phpversion ~ phpversionextra }}"{% endif %}>
                    {{ phpversion }}
                    &nbsp; <a href="#">View phpinfo()</a>
                </span>
    </div>

    <div class="sf-toolbar-info-piece sf-toolbar-info-php-ext">
        <b>PHP Extensions</b>
        <span class="sf-toolbar-status sf-toolbar-status-{{ hasxdebug ? 'green' : 'gray' }}">xdebug {{ hasxdebug ? '✓' : '✗' }}</span>
        <span class="sf-toolbar-status sf-toolbar-status-{{ hasapcu ? 'green' : 'gray' }}">APCu {{ hasapcu ? '✓' : '✗' }}</span>
        <span class="sf-toolbar-status sf-toolbar-status-{{ haszendopcache ? 'green' : 'red' }}">OPcache {{ haszendopcache ? '✓' : '✗' }}</span>
    </div>

    <div class="sf-toolbar-info-piece">
        <b>PHP SAPI</b>
        <span>{{ sapiName }}</span>
    </div>
</div>

<div class="sf-toolbar-info-group">
    {% if symfonyversion is defined %}
        <div class="sf-toolbar-info-piece">
            <b>Resources</b>
            <span>
                        <a href="https://symfony.com/doc/{{ symfonyversion }}/index.html" rel="help">
                            Read Symfony {{ symfonyversion }} Docs
                        </a>
                    </span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Help</b>
            <span>
                        <a href="https://symfony.com/support">
                            Symfony Support Channels
                        </a>
                    </span>
        </div>
    {% endif %}
</div>

<div class="sf-toolbar-info-group">
    <h2>Symfony Configuration</h2>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ symfonyversion }}</span>
            <span class="label">Symfony version</span>
        </div>

        {% if 'n/a' != env %}
            <div class="metric">
                <span class="value">{{ env }}</span>
                <span class="label">Environment</span>
            </div>
        {% endif %}

        {% if 'n/a' != debug %}
            <div class="metric">
                <span class="value">{{ debug ? 'enabled' : 'disabled' }}</span>
                <span class="label">Debug</span>
            </div>
        {% endif %}

    </div>


    {% set symfony_status = { dev: 'Unstable Version', stable: 'Stable Version', eom: 'Maintenance Ended', eol: 'Version Expired' } %}
    {% set symfony_status_class = { dev: 'warning', stable: 'success', eom: 'warning', eol: 'error' } %}
    <table>
        <thead class="small">
        <tr>
            <th>Symfony Status</th>
            <th>Bugs {{ symfonystate in ['eom', 'eol'] ? 'were' : 'are' }} fixed until</th>
            <th>Security issues {{ symfonystate == 'eol' ? 'were' : 'are' }} fixed until</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="font-normal">
                <span class="label status-{{ symfony_status_class[symfonystate] }}">{{ symfony_status[symfonystate]|upper }}</span>
                {% if symfonylts %}
                    &nbsp; <span class="label status-success">Long-Term Support</span>
                {% endif %}
            </td>
            <td class="font-normal">{{ symfonyeom }}</td>
            <td class="font-normal">{{ symfonyeol }}</td>
            <td class="font-normal">
                <a href="https://symfony.com/releases/{{ symfonyminorversion }}#release-checker">View roadmap</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>PHP Configuration</h2>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ phpversion }}{% if phpversionextra %} <span class="unit">{{ phpversionextra }}</span>{% endif %}</span>
            <span class="label">PHP version</span>
        </div>

        <div class="metric">
            <span class="value">{{ phparchitecture }} <span class="unit">bits</span></span>
            <span class="label">Architecture</span>
        </div>

        <div class="metric">
            <span class="value">{{ phpintllocale }}</span>
            <span class="label">Intl locale</span>
        </div>

        <div class="metric">
            <span class="value">{{ phptimezone }}</span>
            <span class="label">Timezone</span>
        </div>
    </div>

    {% if bundles %}
        <h2>Enabled Bundles <small>({{ bundles|length }})</small></h2>
        <table>
            <thead>
            <tr>
                <th class="key">Name</th>
                <th>Class</th>
            </tr>
            </thead>
            <tbody>
            {% for name in bundles|keys|sort %}
                <tr>
                    <th scope="row" class="font-normal">{{ name }}</th>
                    <td class="font-normal">{{ profiler_dump(bundles[name]) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
</div>

